.editable-evalution_criteria {
    display: block;
    margin-bottom: 5px;
}


.editable-container.editable-inline {
    display: inline;
}

.editable-input {
    display: inline;
}

.editableform .form-control {
    width: 100%;
}

.editable-criteria span {
    width: 70px;
    display: inline-block;
}