<HTML>
    <script>
        $("#button-back").click(function(){
         parent.history.back();
        return false;
        });
        function goBack() {
            window.history.back();
    }
    </script>
  <head>
    <TITLE>La`Foot</TITLE>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
  </head>

  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
            </ul>
        </div>
      </div>
  </nav>

  <BODY>
    <div class="panel panel-default">
            <a href="http://lafoot.com">La`Foot</a>
            Boutique shop for all kinds of skunk works
            <H1>La`Foot</H1>
            <H2>Company Philosophy</H2>
                Send mail at <a href="mailto:support@yourcompany.com">support@yourcompany.com</a>.
            <P> Past Projects
            <P> <B>Current Projects</B>
            <BR> <B><I>This is a new sentence without a paragraph break, in bold italics.</I></B>
        <IMG SRC="/static/Vishnubhatt.jpg" ALIGN="BOTTOM">
    </div>
  </BODY>
</HTML>