<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about_page"><span class="glyphicon glyphicon-log-out"></span>About</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
    <div id="container">
      <div id="main">
          <form method="post" action="{{ url_for('submitted_edit_users_register', registerId=registerId) }}">
            <table class="table table-striped">
                <th>
                    Add users to {{ registerId }}
                </th>
                <th>
                    {%  set urlx = "/update_user/" + registerId + "/__CREATE__" %}
                    <a href={{ urlx }}>
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </th>
                <TR>
                    <td align="left">
                        <br>Select Users to add (Hold down the Ctrl (windows) / Command (Mac)
                        <br>button to select multiple options)
                    </td>
                    <td>
                        <select class="form-control" name="userIds[]" multiple size={{ users |length }} style='height: 100%;'>
                            {% for user in users %}
                                <option value="{{  user.identity }}"> {{ user.identity }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </TR>
            </table>
            <input type="submit">
          </form>
      </div>
    </div>
  </body>
</html>
