<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Form for Edit Users for a register</h1>
      </div>
      <div id="main">
          <form method="post" action="{{ url_for('submitted_edit_users_register', registerId=registerId) }}">
            <table class="table table-striped">
                <TR>
                    <td align="left">
                        Add users
                        <br>Select Users to add (Hold down the Ctrl (windows) / Command (Mac)
                        <br>button to select multiple options)
                        <br><a href="/create_user"> Click on link button to add new user</a>
                    </td>
                    <td>
                        <select class="form-control" name="userIds[]" multiple size={{ users |length }} style='height: 100%;'>
                            {% for user in users %}
                                <option value="{{  user.identity }}"> {{ user.identity }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </TR>
            </table>
            <input type="submit">
          </form>
      </div>
    </div>
  </body>
</html>
