<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
  </head>
    <script>
        var requirements_output = [];
        var weights = [];

        window.onload = function(){updateSubTotalsAndWeights();};

        function doRadioButton(cb) {
            var splits = cb.name.split("_");
            var swapped =  splits[1] + "_" + splits[0];
            var o_cb = document.getElementsByName(swapped)[0];
            if (cb.checked == true) {
                o_cb.disabled = true;
                o_cb.checked = false;
            } else {
                o_cb.disabled = false;
                o_cb.checked = true;
            }
        }

        function onCBClick(cb) {
            validate(cb);
        }

        function redrawCalculations() {
            // set UI objects
            var cb = document.getElementById("showCalculations");
            if (cb.checked == true) {
                updateRequirementsOutput();
                $("#calculationsTable tr").remove();
                if (requirements_output) {
                    var table = document.getElementById("calculationsTable");
                    for (ii = 0; ii < requirements_output.length; ii++) {
                        var row = table.insertRow(ii);
                        var cell = row.insertCell(0);
                        var token = "^";
                        var newToken = " ";
                        var newStr = requirements_output[ii].split(token).join(newToken);
                        cell.innerHTML = newStr;
                    }
                }
            }
        }

        function onCCBClick(cb) {
            if (cb.checked == true) {
                $(".calculations").show();
                redrawCalculations();
            } else {
                $(".calculations").hide();
            }
        }

        function onButtonClick(button) {
            location.reload();
        }

        function getCbCheckedList() {
            // Gather list of checked checkboxes - combos
            var inputs = document.getElementsByTagName("input");
            var cbchecked = [];
            for (ii = 0; ii < inputs.length; ii++) {
                if(inputs[ii].type == "checkbox") {
                    if (inputs[ii].name != 'showCalculations' &&
                            inputs[ii].name != "refresh" &&
                            inputs[ii].name != "submit") {
                        if (inputs[ii].checked) {
                            cbchecked.push(inputs[ii]);
                        }
                    }
                }
            }
            return cbchecked;
        }

        function updateRequirementsOutput() {
            var cbchecked = getCbCheckedList();
            // build requirements_output/prioritized list of reqs
            requirements_output = new Array();
            // for each req combo
            for (ii = 0; ii < cbchecked.length; ii++) {
                // get the checked checkbox -combo
                // split the reqs
                var splits = cbchecked[ii].name.split("_");
                var i_item = splits[1];
                var o_item = splits[0];
                // if req is first get inside, else continue
                if (cbchecked[ii].name.endsWith(i_item)) {
                    // if req already in list
                    if (requirements_output.indexOf(i_item) >= 0) {
                        // if other req is also in list
                        if (requirements_output.indexOf(o_item) >= 0) {
                            // check for both already in list
                            var i_idx = requirements_output.indexOf(i_item);
                            var o_idx = requirements_output.indexOf(o_item);
                            if (i_idx > o_idx) {
                                //swap
                                requirements_output[i_idx] = o_item;
                                requirements_output[o_idx] = i_item;
                            }
                        } else {
                            //second item is not in list - so add
                            requirements_output.push(o_item);
                        }
                    } else {
                        // add the first requirement
                        requirements_output.push(i_item)
                        // check for other req to be already in list
                        if (requirements_output.indexOf(o_item) >= 0) {
                            // check for both already in list
                            var i_idx = requirements_output.indexOf(i_item);
                            var o_idx = requirements_output.indexOf(o_item);
                            if (i_idx > o_idx) {
                                //swap
                                requirements_output[i_idx] = o_item;
                                requirements_output[o_idx] = i_item;
                            }
                        } else {
                            //second item is not in list - so add
                            requirements_output.push(o_item);
                        }
                    }
                }
            }
        }

        function validate(cb_changed) {
            var cb_splits = cb_changed.name.split("_");
            var cb_swapped =  cb_splits[1] + "_" + cb_splits[0];
            var o_cb_changed = document.getElementsByName(cb_swapped)[0];
            if (cb_changed.checked == true) {
                o_cb_changed.disabled = true;
                o_cb_changed.checked = false;
            } else {
                o_cb_changed.disabled = false;
                o_cb_changed.checked = true;
                cb_changed.disabled = true;
                cb_changed.checked = false;
            }

            updateRequirementsOutput();

            redrawCalculations();
            // given list of requiremetns for project
            var preqs = "{{ project.requirements }}"
            // get total num of reqs
            var reqslist =  preqs.split(',');
            var num_reqs = reqslist.length;

            updateSubTotalsAndWeights();

            var cbchecked = getCbCheckedList();

            var total = ((num_reqs * num_reqs) - num_reqs) / 2;
            // check if num reqs and the checked check-boxes combo are same
            // console.log(cbchecked.length + ", " + total);
            if (cbchecked.length == total) {
                // Enable only if passes validation - test for loops!
                document.getElementById("submit").disabled = false;
            } else {
                document.getElementById("submit").disabled = true;
            }
            document.getElementById("requirements_output").value = requirements_output;
            document.getElementById("weights").value = weights;

            return true;
        }

        function updateSubTotalsAndWeights() {
            weights = [];
            var preqs = "{{ project.requirements }}";
            var reqslist =  preqs.split(',');
            var num_reqs = reqslist.length;
            var table = document.getElementById("theTable");
            var num_checked = 0;
            var sub_totals_cols = [];
            var weight_cells = [];
            for (col = 1; col <= num_reqs; col++) {
                var sub_total_col = 0;
                var subtotalCell = null;
                var weightCell = null;
                for (row = 0; row < table.rows.length; row++) {
                    var cl = table.rows[row].cells[col];
                    if (cl) {
                        var ccl = cl.children[0];
                        if (ccl) {
                            if (ccl.type == "checkbox") {
                                var cb1 = ccl.name;
                                var cb = document.getElementById(cb1);
                                if (cb.checked) {
                                    num_checked++;
                                    sub_total_col++;
                                }
                            } else {
                                if (ccl.id != null) {
                                    if (ccl.id.startsWith("subtotal")) {
                                        subtotalCell = ccl;
                                    } else if (ccl.id.startsWith("weight")) {
                                        weightCell = ccl;
                                    }
                                }
                            }
                        }
                    }
                }
                subtotalCell.innerHTML = sub_total_col;
                sub_totals_cols.push(sub_total_col);
                weight_cells.push(weightCell);
            }

            for (ii = 0; ii < weight_cells.length; ii++) {
                var sub_total_col = sub_totals_cols[ii];
                var weight_col = (sub_total_col / num_checked).toFixed(2);
                //console.log(ii  + ", " + sub_total_col + ", " + num_checked + ", " + weight_col + ", " + isNaN(weight_col));
                weight_col = (isNaN(weight_col)) ? "x" : weight_col * 100;
                var weightCell = weight_cells[ii];
                var reqName = weightCell.id.substring(7);
                weightCell.innerHTML  = weight_col;
                weights.push(reqName+":"+weight_col);
            }
            console.log("************ " + weights);
        }
   </script>
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
    <div id="container">
      <div class="pagetitle">
        <table class="table">
            <TR>
                <td>
                    <button id="refresh" name="refresh" class="btn btn-primary" onclick="onButtonClick(this);"><span class="glyphicon glyphicon-refresh"></span>Project:</button>
                    <label>{{ project.projectId }}</label>
                </td>
            </TR>
            <tr>
                <td>
                    <label name="userId">User: {{ userId }}</label>
                </td>
            </tr>
           {% if date is defined %}
                <tr>
                    <td>
                        <label name="date">Date: {{ date.strftime("%Y-%m-%d% %H:%M:%S.%f") }} </label>
                    </td>
                </tr>
            {% endif %}
        </table>
      </div>
      <div id="main">
          <form method="post" action="{{ url_for('submitted_entry', projectId=project.projectId ) }}">
            <table id="theTable" class="table table-striped">
                <TR>
                    <th></th>
                    {% for item in project.requirements %}
                        <th style="text-align: center"> <label id="reqname_{{ item }}" name="reqname_{{ item }}">{{ item }} </label>
                    {% endfor %}
                </TR>
                {% for item in project.requirements %}
                    <TR>
                        <td align="left"> {{ item }} </td>
                        {% for item1 in project.requirements %}
                            {%  if item == item1 %}
                                <td align="center"> x </td>
                            {%  else %}
                                {% set cbname = item | replace(" ", "^") + "_" + item1 |replace(" ", "^")%}
                                <td style="text-align: center;">
                                    {% if requirements is defined %}
                                        {% if cbname in requirements %}
                                            <input id = {{  cbname }} type="checkbox" name={{ cbname }} onclick="onCBClick(this);" checked>
                                        {% else %}
                                            <input id = {{  cbname }} type="checkbox" name={{ cbname }} onclick="onCBClick(this);" >
                                        {% endif %}
                                    {% else %}
                                        <input id = {{  cbname }} type="checkbox" name={{ cbname }} onclick="onCBClick(this);" >
                                    {% endif %}
                                </td>
                            {%  endif %}
                        {% endfor %}
                    </TR>
                {% endfor %}
                <tr>
                    <td>
                       <label>Subtotals</label>
                    </td>
                    {% for item in project.requirements %}
                    <td align="center">
                        <label name="subtotal_{{ item }}" id="subtotal_{{ item }}">x</label>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                       <label>Weights (%)</label>
                    </td>
                    {% for item in project.requirements %}
                    <td align="center">
                        <label name="weight_{{ item }}" id="weight_{{ item }}">x</label>
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                       <input type="submit" name="submit" value="Save" id="submit" disabled>
                    </td>
                </tr>
            </table>
            <input type="text" name="requirements_output" id="requirements_output" style="display:none">
            </input>
            <input type="text" name="weights" id="weights" style="display:none">
            </input>
          </form>
          <label>Show Calculations:</label>
            <input type="checkbox" id="showCalculations" name="showCalculations" onclick="onCCBClick(this);" unchecked>
            <div class="calculations" style="display:none">
                <table id="calculationsTable" class="table">
                </table>
            </div>
      </div>
    </div>
  </body>
</html>
