<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>Entry</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
   <body>
    <div class="pagetitle"
      <h1>Entry</h1>
    </div>
    <h2>Welcome {{  user }}</h2>
    <div id="main">
      <table class="table table-striped">
          <tr>
            <td>
                User - who created this entry
            </td>
            <td>
                {{ entry.user }}
            </td>
          </tr>
          <tr>
            <td>
                Date when created
            </td>
            <td>
                {{ entry.date }}
            </td>
          </tr>
          <tr>
            <td>
                Requirements as chosen by user
            </td>
            <td>
               <table class="table table-striped">
                {% for req in entry.requirements %}
                    <tr>
                        <td>
                            {{ req }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
          </tr>
          <tr>
            <td>
                Requirement ID
            </td>
            <td>
                {{ entry.register.registerId }}
            </td>
          </tr>
      </table>
    </div>
  </body>
</html>

