<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>Entrys</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="pagetitle"
      <h1>Entrys for {{  registerId }}</h1>
    </div>
    <div class="container">
      <table class="table table-striped">
        <tr>
           <th>
               Entry
           </th>
          <th>
              Details
          </th>
      </tr>
      {% for entry in entrys %}
            <tr>
                <td>
                    Entry
                </td>
                <td>
                  {% set datestr = entry.date.strftime("%Y-%m-%d% %H:%M:%S.%f") %}
                  {% set url = "/show_entry_given_date/" + datestr | urlencode %}
                    {%  set userId = entry.user.identity %}
                    {%  set urlstr = "/show_entry_given_user/" + userId %}
                    <table class="table table-striped">
                        <tr>
                           <td>
                              <a href={{  urlstr }}>Entity = {{ entry.user.identity }}</a>
                           </td>
                        </tr>
                        <tr>
                            <td>
                                {{ entry.date }}
                            </td>
                        </tr>
                    </table>
                    </div>
                </td>
            </tr>
      {% endfor %}
      </table>
    </div>
  </body>
</html>


