<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
          <p class="navbar-text">{{ current_user }}</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about_page"><span class="glyphicon glyphicon-log-out"></span>About</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
    <div id="container">
      <div class="pagetitle">
        <label>Register: {{ register.registerId }}</label>
        <br>
        <label name="userId">User: {{ userId }}</label>
        {% if date is defined %}
            <br>
            <label name="date">Date: {{ date.strftime("%Y-%m-%d% %H:%M:%S.%f") }} <label>
        {% endif %}
      </div>
      <div id="main">
          <form method="post" action="{{ url_for('submitted_entry', registerId=register.registerId ) }}">
            <table class="table table-striped">
                <TR>
                    <th></th>
                    {% for item in register.requirements %}
                        <th style="text-align: center"> {{ item }} </th>
                    {% endfor %}
                </TR>
                {% for item in register.requirements %}
                    <TR>
                        <td align="left"> {{ item }} </td>
                        {% for item1 in register.requirements %}
                            {%  if item == item1 %}
                                <td align="center"> x </td>
                            {%  else %}
                                {% set cbname = item + "_" + item1 %}
                                <td style="text-align: center;">
                                    {% if requirements is defined %}
                                        {% if cbname in requirements %}
                                            <input type="checkbox" name={{ cbname }} checked>
                                        {% else %}
                                            <input type="checkbox" name={{ cbname }}>
                                        {% endif %}
                                    {% else %}
                                        <input type="checkbox" name={{ cbname }}>
                                    {% endif %}
                                </td>
                            {%  endif %}
                        {% endfor %}
                    </TR>
                {% endfor %}
            </table>
            <input type="submit">
          </form>
      </div>
    </div>
  </body>
</html>
