<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/objective.js"></script>
    <link href="/static/objective.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/evaluation_criteria.js"></script>
    <link href="/static/evaluation_criteria.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  </head>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
            </ul>
        </div>
      </div>
  </nav>

  <body>
  <script>
    var business_objectives = [];

    function deleteObjective(objectiveId) {
        console.log("got it " + objectiveId);
        // Update UI
        var bo_list = document.getElementById("business-objectives-container");
        var bo_table = bo_list.children[1];
        var bo_rows = bo_table.children;
        for (var ii = 0; ii < bo_rows.length; ii++) {
            var content = bo_rows[ii].cells[0].innerText;
            if (content == objectiveId) {
                {% for bo in bos_db %}
                var objId = "{{ bo.objectiveId }}";
                if (objId == objectiveId) {
                    var len = "{{ bo.evaluation_criteria | length }}";
                    console.log("Found " + objId + ", " + len);
                    var startIdx = ii + parseInt(len) - 1;
                    var endIdx = ii;
                    for (var jj = startIdx; jj >= endIdx; jj-- ) {
                        console.log("\tDelete " + jj);
                        bo_table.deleteRow(jj);

                    }
                    for (var ii = 0; ii < business_objectives.length; ii++) {
                        var mbo = business_objectives[ii];
                        if (mbo == objectiveId) {
                            business_objectives.splice(ii, 1);
                        }
                    }
                } else {
                    var foundIt = false;
                    for (var ii = 0; ii < business_objectives.length; ii++) {
                        var mbo = business_objectives[ii];
                        if (mbo == objectiveId) {
                            foundIt = true;
                            break;
                        }
                    }
                    if (!foundIt) {
                        var obj1 = {};
                        obj1.objectiveId = "{{ bo.objectiveId | safe}}";
                        obj1.description = "{{ bo.description | safe}}";
                        obj1.weight = "{{ bo.weight | safe}}";
                        obj1.evaluation_criteria = [];
                        {% for ec in bo.evaluation_criteria %}
                            var obj2 = {};
                            obj2.evaluation_criteriaId = "{{ ec.evaluation_criteriaId | safe }}";
                            obj2.evaluation_criterion = "{{ ec.evaluation_criterion | safe }}";
                            obj1.evaluation_criteria.push(obj2);
                        {% endfor %}
                        var jobj = JSON.stringify(obj1);
                        business_objectives.push(jobj);
                    }
                }
                {% endfor %}
            }
        }
        console.log(business_objectives);
        document.getElementById("bos[]").value = business_objectives;
    }

    function validateForm() {
        var array = ["projectId", "userIds[]", "vendorIds[]", "bos[]", "due_date", "department","group","description","password"];
        for (var xx = 0; xx < array.length; xx++) {
            var did = document.getElementById(array[xx]);
            console.log(array[xx] + ", " + did);
            if (did == null) {
                popup("Invalid or Incomplete data", "Please ensure all fields are entered appropriately");
                return false;
            }
        }
        return true;
    }

    $(document).ready(function(){
        $('#checkbox').on('change', function(){
            $('#password').attr('type',$('#checkbox').prop('checked')==true?"text":"password");
        });
    });

    $(document).ready(function() {
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        $('#due_date').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true
        }).on('changeDate', function(e) {
            // Revalidate the date field
            console.log(e);
            // document.getElementById("due_date").value = newValue.format("YYYY-MM-DD");
        });
        $('#objective').editable({
            title: 'Enter objective details',
            mode: 'popup',
            success: function(response, newValue) {
                if (business_objectives == null) {
                    business_objectives = [];
                }

                var obj1 = {};
                obj1.objectiveId = newValue.objectiveId;
                obj1.description = newValue.description;
                obj1.weight = newValue.weight;
                var jobj = JSON.stringify(obj1);
                var id = business_objectives.push(jobj) - 1;

                var bo_list = document.getElementById("business-objectives-container");
                var row = bo_list.insertRow(-1);
                row.id = newValue.objectiveId.split(' ').join('___');
                var cell1 = row.insertCell(0);
                cell1.innerHTML = newValue.objectiveId;
                var cell2 = row.insertCell(1);
                cell2.innerHTML = newValue.description;
                var cell3 = row.insertCell(2);
                cell3.innerHTML = newValue.weight;
                var cell4 = row.insertCell(3);
                var idd = "evaluation_criteria_id_____" + row.id + "_____" + id;
                cell4.innerHTML = '<a href="#" id=' + idd + ' data-type="evaluation_criteria" data-pk="1">' +
                                    '<span class="glyphicon glyphicon-plus"></span>' +
                                    '</a>';
                document.getElementById("bos[]").value = business_objectives;

                // console.log(" ***** 1 " + JSON.parse(business_objectives));
                $.fn.modal.Constructor.prototype.enforceFocus = function() {};
                $(eval(idd)).editable({
                    title: 'Enter Evalution Criteria details',
                    mode: 'popup',
                    success: function(response, nValue) {
                        var irr = this.id.substring(23);
                        var iddd = irr.substring(irr.indexOf("_____") + 5);
                        var ir = irr.substring(4, irr.indexOf("_____"));
                        console.log(this.id + ", " + irr + ", " + ir + ", " + iddd + ", " + business_objectives[iddd]);
                        var bo = JSON.parse(business_objectives[iddd]);

                        var lastIdx = 0;
                        if (bo.evaluation_criteria !== undefined) {
                            boa = bo.evaluation_criteria;
                            if (boa.filter(function(e) {return e.evaluation_criteriaId == nValue.evaluation_criteriaId}).length > 0 ||
                                boa.filter(function(e) {return e.evaluation_criterion == nValue.evaluation_criterion}).length > 0)  {
                                popup("Criteria already exists", "Criteria entered: " + nValue.evaluation_criteriaId +
                                        ", " + nValue.evaluation_criterion +
                                        "\nalready exists (please use distinct id and criterion)");
                                return;
                            } else {
                                lastIdx = bo.evaluation_criteria.length;
                            }
                        } else {
                            bo.evaluation_criteria = [];
                        }
                        var idRow = document.getElementById(ir);
                        if ( lastIdx > 0) {
                            var bo_list = document.getElementById("business-objectives-container");
                            var rIdx = idRow.rowIndex;
                            idRow = bo_list.insertRow(rIdx+1);
                            for (var xx = 0; xx < 4; xx++) {
                                idRow.insertCell(xx);
                            }
                        }

                        var obj1 = {};
                        obj1.evaluation_criteriaId = nValue.evaluation_criteriaId;
                        obj1.evaluation_criterion = nValue.evaluation_criterion;
                        bo.evaluation_criteria.push(obj1);

                        var jobj = JSON.stringify(bo);

                        business_objectives[iddd] = jobj;
                        document.getElementById("bos[]").value = business_objectives;

                        var weight = idRow.cells[2].innerHTML;
                        var cell5 = idRow.insertCell(4);
                        cell5.innerHTML = nValue.evaluation_criteriaId;
                        var cell6 = idRow.insertCell(5);
                        cell6.innerHTML = nValue.evaluation_criterion;

                        // console.log(business_objectives);
                    }
                });
            }
        });
    });

    </script>
    <div id="container">
      <div id="main">
          <form method="post" action="{{ url_for('submitted_project') }}" onsubmit="return validateForm()">
            <table class="table table-condensed">
                <th width="50%">
                    Project Details
                    {% if project is defined %}
                        {% set urlx = "/api/v1/show_summary/" + project.projectId | urlencode %}
                        <a href={{ urlx }}>
                            Summary<span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}
                </th>
                <tr>
                    <td>
                        Project/Requirement ID
                        {% set regId = "" %}
                        {% if project is defined %}
                            {% set regId = project.projectId %}
                        {% endif %}
                        <input type="text" class="form-control" id="projectId" name="projectId" value="{{ regId }}">
                    </td>
                    <td>
                        Due Date
                        {%  set dt = "" %}
                        {%  if project is defined %}
                            {% set dt = project.due_date | replace(" 00:00:00", '') %}
                        {%  else %}
                            {% set dt = get_current_date() %}
                        {% endif %}
                        <input class="form-control"  id="due_date" name="due_date" value="{{ dt }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                        {% set desc = "" %}
                        {% if project is defined %}
                            {% set desc = project.description %}
                        {% endif %}
                        <input type="text" class="form-control" id="description" name="description" value="{{ desc }}">
                    </td>
                    <td>
                        Department
                        {% set dept = "" %}
                        {% if project is defined %}
                            {% set dept = project.department %}
                        {% endif %}
                        <input type="text" class="form-control" id="department" name="department" value="{{ dept }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Group
                        {% set grp = "" %}
                        {% if project is defined %}
                            {% set grp = project.group %}
                        {% endif %}
                        <input type="text" class="form-control" id="group" name="group" value="{{ grp }}">
                    </td>
                    <td>
                        Password
                        {% set defp = "" %}
                        {% if project is defined %}
                            {% set defp = project.defaultPassword %}
                        {% endif %}
                        <input class="form-control" id="password" type="password" name="password" value="{{ defp }}">
                        <input type="checkbox" id="checkbox"> <span class="glyphicon glyphicon-eye-open"/>
                    </td>
                </tr>
                <TR>
                    <td align="left">
                        Add users
                        <br>Select Users to add (Hold down the Ctrl (windows) / Command (Mac)
                        <br>button to select multiple options)
                        {% if project is defined %}
                            {% set urlx = "/api/v1/show_user/" + project.projectId  + "/__CREATE__" %}
                        {% else %}
                            {% set urlx = "/api/v1/show_user/__CREATE__/__CREATE__" %}
                        {% endif %}
                        <br><a href={{ urlx | urlencode }}> Click on link button to add new user</a>
                        <select class="form-control" name="userIds[]" id="userIds[]" multiple size={{ users |length }} style='height: 100%;'>

                        {% for user in users %}
                            {% if project is defined %}
                                {%  if user.identity in userlist %}
                                    <option value="{{  user.identity }}" selected> {{ user.identity }}</option>
                                {% else %}
                                    <option value="{{  user.identity }}"> {{ user.identity }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{  user.identity }}"> {{ user.identity }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                        Add Vendors
                        <br>Select Vendors to add (Hold down the Ctrl (windows) / Command (Mac)
                        <br>button to select multiple options)
                        {% if project is defined %}
                            {% set urlx = "/api/v1/show_vendor/" + project.projectId  + "/__CREATE__" %}
                        {% else %}
                            {% set urlx = "/api/v1/show_vendor/__CREATE__/__CREATE__" %}
                        {% endif %}
                        <br><a href={{ urlx | urlencode }}> Click on link button to add new vendor</a>
                        <select class="form-control" name="vendorIds[]" id="vendorIds[]" multiple size={{ vendors |length }} style='height: 100%;'>

                        {% for vendor in vendor_objects %}
                            {% if project is defined %}
                                {%  if vendor.identity in vendorlist %}
                                    <option value="{{  vendor.identity }}" selected> {{ vendor.identity }}</option>
                                {% else %}
                                    <option value="{{  vendor.identity }}"> {{ vendor.identity }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{  vendor.identity }}"> {{ vendor.identity }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </TR>
                <TR>
                    <td>
                        Business Objectives
                    </td>
                </TR>
                <TR>
                    <td colspan="2" style="padding-left: 40px;" align="right">
                        <table id="business-objectives-container" class="table table-striped table-hover table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        <a href="#" id="objective" data-type="objective" data-pk="1">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                    </th>
                                    <th colspan="3" style="text-align: center">Objectives</th>
                                    <th colspan="9" style="text-align: center">Evaluation Criteria</th>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                    <th>Weight</th>
                                    <th>   </th>
                                    <th>Criteria ID</th>
                                    <th>Criterion</th>
                                </tr>
                            </thead>
                            {% if bos_db is defined %}
                                {% for bo in bos_db %}
                                    <tr>
                                        <td>
                                            {{ bo.objectiveId }}
                                        </td>
                                        <td>
                                            {{ bo.description }}
                                        </td>
                                        <td>
                                            {{ bo.weight }}
                                        </td>
                                        <td>
                                        </td>
                                        {% set count = [0] %}
                                        {% for ec in bo.evaluation_criteria %}
                                            {% if count > [0] %}
                                                <tr>
                                                    <td></td><td></td><td></td><td></td>
                                            {% endif %}
                                            <td>
                                                {{ ec.evaluation_criterionId }}
                                            </td>
                                            <td>
                                                {{ ec.evaluation_criterion }}
                                            </td>
                                            {% if count == [0] %}
                                                <td style="text-align: center">
                                                    {% set message =  "This will delete objective " + bo.objectiveId + ", " + bo.description %}
                                                    {% set hrefs =  "javascript:popupConfirm('Are you sure?', '" +
                                                                message + ".<br><p>Yes to Continue or No to Close', function(){deleteObjective('" + bo.objectiveId + "');})" %}
                                                    <a href= "{{ hrefs }}" >
                                                        <span class="glyphicon glyphicon-remove" style="color:red"/>
                                                    </a>
                                                </td>
                                            {% endif %}
                                            </tr>
                                            {% if count.append(count.pop() + 1) %}{% endif %}
                                        {% endfor %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </td>
                </TR>
            </table>
            <input type="submit" value="Save" >
            <div>
                <input type="hidden" name="bos[]" id="bos[]" style="display:none">
                <input type="hidden" name="vendors" id="vendors" style="display:none">
            </div>
          </form>
      </div>
    </div>
  </body>
</html>
