<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
          <p class="navbar-text">{{ current_user }}</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon glyphicon-lamp"></span> About</a></li>
            </ul>
        </div>

      </div>
  </nav>

  <body>
  <script>
    $(document).ready(function(){
        $('#checkbox').on('change', function(){
            $('#password').attr('type',$('#checkbox').prop('checked')==true?"text":"password");
        });
    });
    </script>
    <div id="container">
      <div id="main">
          <form method="post" action="{{ url_for('submitted_project') }}">
            <table class="table table-striped">
                <th>
                    Requirement details
                </th>
                <th>
                    {% if project is defined %}
                        {% set urlx = "/api/v1/show_entrys/" + project.projectId %}
                        <a href={{ urlx }}>
                            Summary<span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    {% endif %}
                </th>
                <tr>
                    <td>
                        Project/Requirement ID
                    </td>
                    <td>
                        {% set regId = "" %}
                        {% if project is defined %}
                            {% set regId = project.projectId %}
                        {% endif %}

                        <input type="text" class="form-control" name="projectId" value="{{ regId }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Description
                    </td>
                    <td>
                        {% set desc = "" %}
                        {% if project is defined %}
                            {% set desc = project.description %}
                        {% endif %}
                        <input type="text" class="form-control" name="description" value="{{ desc }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Department
                    </td>
                    <td>
                        {% set dept = "" %}
                        {% if project is defined %}
                            {% set dept = project.department %}
                        {% endif %}
                        <input type="text" class="form-control" name="department" value="{{ dept }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Group
                    </td>
                    <td>
                        {% set grp = "" %}
                        {% if project is defined %}
                            {% set grp = project.group %}
                        {% endif %}
                        <input type="text" class="form-control" name="group" value="{{ grp }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        Default Password
                    <td>
                        {% set defp = "" %}
                        {% if project is defined %}
                            {% set defp = project.defaultPassword %}
                        {% endif %}
                        <input class="form-control" id="password" type="password" name="password" value="{{ defp }}">
                        <input type="checkbox" id="checkbox"> Show Password
                    </td>
                </tr>
                <TR>
                    <td align="left">
                        Add users
                        <br>Select Users to add (Hold down the Ctrl (windows) / Command (Mac)
                        <br>button to select multiple options)
                        {% if project is defined %}
                            {% set urlx = "/api/v1/update_user/" + project.projectId + "/__CREATE__" %}
                        {% else %}
                            {% set urlx = "/api/v1/update_user/__CREATE__/__CREATE__" %}
                        {% endif %}
                        <br><a href={{ urlx }}> Click on link button to add new user</a>
                    </td>
                    <td>
                        <select class="form-control" name="userIds[]" multiple size={{ users |length }} style='height: 100%;'>

                        {% for user in users %}
                            {% if project is defined %}
                                {%  if user.identity in userlist %}
                                    <option value="{{  user.identity }}" selected> {{ user.identity }}</option>
                                {% else %}
                                    <option value="{{  user.identity }}"> {{ user.identity }}</option>
                                {% endif %}
                            {% else %}
                                <option value="{{  user.identity }}"> {{ user.identity }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                </TR>
                <TR>
                    <td>
                        Add Requirements - Enter comma separated list of requirements
                    </td>
                    <td>
                        {% set reqs = "" %}
                        {% if project is defined %}
                            {%  set reqs = requirements | join(',') %}
                        {% endif %}
                        <input type="text" class="form-control" name="requirements" value="{{ reqs }}">
                    </td>
                </TR>
            </table>
            <input type="submit">
          </form>
      </div>
    </div>
  </body>
</html>
