<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DAR</a>
          <p class="navbar-text">{{ current_user }}</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon glyphicon-lamp"></span>About</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
      <div class="container">
      <br>
        <table class="table table-striped table-hover">
          <th>
            Projects
          </th>
          <th>
              {%  set urlx = "/api/v1/update_project/___CREATE___" %}
              <a href={{ urlx }}>
                 <span class="glyphicon glyphicon-plus"></span>
              </a>
          </th>
          {% if projects is defined %}
              {% for project in projects %}
                 {%  set urlx = "/api/v1/show_project/" + project.projectId %}
                 <TR onclick="location.href='{{ urlx }}'">
                     <td >
                        {{ project.projectId }}
                     </td>
                    <td>
                        <a href={{ urlx }}>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </td>
                 </TR>
              {% endfor %}
           {% endif %}
          </table>
        </div>
    </div>
  </body>
</html>


