<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DAR - Projects</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>

    <script type="text/javascript" src="/static/common.js"></script>
  </head>
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DAR</a>
        </div>
        <div id="bs-example-navbar-collapse-1"class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                <li><a href='javascript:showUser({{ get_current_user() }})'><span class="glyphicon glyphicon-user"></span>{{ current_user.identity }}</a></li>
            </ul>
        </div>
    </div>
  </nav>
  <body>
    <script>
        var deleteMode = false;

        function showDeletes() {
            if (deleteMode) {
                deleteMode = false;
                location.reload();

            }
            deleteMode = true;
            console.log("showDeletes");
            var bo_list = document.getElementById("projects-container");
            var bo_table = bo_list.children[0];
            var bo_rows = bo_table.children;
            for (var ii = 1; ii < bo_rows.length; ii++) {
                var cell = bo_rows[ii].insertCell(2);
                var identity = bo_rows[ii].cells[0].innerHTML;
                var hrefs = "javascript:popupConfirm('Are you sure?', " +
                                "'This will delete project " +
                                identity.trim() +
                                ".<br><p> OK to Continue or Cancel to Close', " +
                                "function(){deleteProject('" +
                                identity.trim() +
                                "');})";
                // console.log(hrefs);
                cell.innerHTML = '<a href="'  + hrefs + '" >' +
                                    '<span class="glyphicon glyphicon-remove" style="color:red"/>' +
                                 '</a>';
                bo_rows[ii].onclick  = function() {return hrefs;};
            }
        }

        function deleteProject(projectId) {
            console.log("got it " + projectId);
            // Update UI
            var bo_list = document.getElementById("projects-container");
            var bo_table = bo_list.children[0];
            var bo_rows = bo_table.children;
            for (var ii = 0; ii < bo_rows.length; ii++) {
                var content = bo_rows[ii].firstElementChild.innerText;
                console.log(ii + ", " + content);
                if (content == projectId) {
                    {% for project in projects %}
                    var objId = "{{ project.projectId }}";
                    if (objId == projectId) {
                        bo_table.deleteRow(ii);
                    }
                    {% endfor %}
                }
            }
            // Update DB
            $.ajax({
                url: "/api/v1/delete_project/" + projectId,
                type: "DELETE",
                success: function (data, textStatus, jqXHR) {
                    console.log("Success" + data + ", " + textStatus + ", " + jqXHR);
                    setTimeout(function(){
                        location.reload();
                    }, 2000);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error" + jqXHR + ", " + textStatus + ", " + errorThrown);
                }
            });
        }
    </script>

      <div class="container">
      <br>
        <table id="projects-container" class="table table-hover table-striped">
          <th>
            Projects
          </th>
          <th>
              {%  set urlx = "/api/v1/show_project/___CREATE___" %}
              <a href={{ urlx }}>
                 <span class="glyphicon glyphicon-plus"></span>
              </a>
          </th>
          {% if projects | length > 0 %}
          <th style="text-align:justify">
              <a href="javascript:showDeletes()">
                  <span class="glyphicon glyphicon-edit"></span>
              </a>
          </th>
          {% endif %}
          {% if projects is defined %}
              {% for project in projects %}
                 {%  set urlx = "/api/v1/show_project/" + project.projectId | urlencode %}
                 <TR onclick="location.href='{{ urlx }}'">
                     <td style="width:50%">
                        {{ project.projectId }}
                     </td>
                    <td>
                        {% set project_status, percentage = get_project_status(project.projectId) %}
                        {% if project_status == "Late" %}
                            <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
                        {% elif project_status == "Incomplete" %}
                            <span class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
                        {% endif %}
                        {{ percentage }}
                        &nbsp;
                        %
                        <a href={{ urlx }}>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </td>
                 </TR>
              {% endfor %}
           {% endif %}
          </table>
        </div>
    </div>
  </body>
</html>


