<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>Register</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
  <body>
    <div class="pagetitle"
      <h1>Register</h1>
    </div>
    <h2>Welcome {{  user }}</h2>
    <div id="main">
      <table style="width:100%">
          <tr>
               <th>
                   Requirement
               </th>
              <th>
                  Details
              </th>
          </tr>
          <tr>
            <td>
                {% set url = "/update_register/" + register.registerId %}
                <a href={{  url }}>{{  register.registerId }} (Click to Edit)</a>
            </td>
            <td>
                <table style="width:100%">
                    <tr>
                        <td>
                            Requirement Id - this is the requirement
                        </td>
                        <td>
                            RegisterId = {{ register.registerId }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Requirements - these are the requirements for this requirement
                        </td>
                        <td>
                            <table style="width:100%">
                            {% for req in register.requirements %}
                                <tr>
                                    <td>
                                        {{ req }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Users
                        </td>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        {% set url = "/show_users/" + register.registerId %}
                                        <a href={{  url }}>Users</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Entrys
                        </td>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                       {%  set url1 = "/show_entrys/" + register.registerId %}
                                       <a href={{  url1 }}> Form Entrys</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       {%  set url2 = "/form_entry/" + register.registerId %}
                                       <a href={{  url2 }}> Form  to create Entry</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
      </table>
  </body>
</html>

