<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registers</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <style>
    table, th, td {
        border: 1px solid black;
    }
  </style>
  <body>
    <div class="pagetitle"
      <h1>Registers</h1>
    </div>
    <h2>Welcome {{  user }}</h2>
    <div id="main">
      <table style="width:100%">
        <div class="container">
          {% for register in registers %}
             <TR>
                 <td align="left">
                    {%  set urlx = "/show_register/" + register.registerId %}
                    <div class="row">
                        <a href={{ urlx }}> RegisterId = {{ register.registerId }}</a>
                    </div>
                 </td>
            </TR>
          {% endfor %}
            <TR>
                <td align="left">
                    <a href="/create_register">Create New Requirement</a>
                </td>
            </TR>
          </table>
        </div>
    </div>
  </body>
</html>


