<html>
 <head>
   <title>Submitted form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Form submitted for {{  registerId }} from  {{  userId }}</h1>
     </div>
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
         <p>
         <table border = 1>
            {% for key in cbname %}
                <tr>
                    <th> {{ key | replace("_",", ")}} </th>
                    <td> on </td>
                </tr>
             {% endfor %}
          </table>
         </p>
     </div>
   </div>
 <body>
</html>
