<html>
 <head>
   <title>Submitted form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 </head>
 <body>
    <div id="pagetitle">
       <h1>Form submitted for {{  registerId }} from  {{  userId }}</h1>
     </div>
   <div id="container">
     <div id="main">
       <p>Thanks for your submission!</p>
       <p>Here's a review of the information that you sent:</p>
         <table class="table table-striped">
            {% for key in cbname %}
                <tr>
                    <th> {{ key | replace("_",", ")}} </th>
                    <td> on </td>
                </tr>
             {% endfor %}
          </table>
     </div>
   </div>
 <body>
</html>
