<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>Summary</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
  </head>
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
            </ul>
        </div>      </div>
  </nav>
  <body>
    <div class="container">
    <br>
      <table class="table" >
          <tr>
              <th colspan="0.5">
                  Project: {{ project.projectId }}
                  &nbsp;
                  &nbsp;
                  &nbsp;
                  {% set urlx = "/api/v1/show_entrys_given_project/" + project.projectId | urlencode %}
                  <a href={{ urlx }}>Entrys<span class="glyphicon glyphicon-chevron-right"></span></a>
              </th>
          </tr>
          <tr>
             <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3" style="text-align: center">Objectives</th>
                            {% set cs = 4 + project.vendorIds | length * 2 %}
                            <th colspan="{{ cs }}" style="text-align: center">Evaluation Criteria</th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Weight</th>
                            <th>Criteria ID</th>
                            <th>Criterion</th>
                            <th>Criteria %</th>
                            <th>Criteria Weight</th>
                            {% for vendor in project.vendorIds %}
                                <th style="border-left:1px solid;">
                                    {{ vendor }} Score
                                </th>
                                <th>
                                    {{ vendor }} Weight Score
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% if bos_db is defined %}
                        {% for bo in bos_db %}
                            <tr>
                                <td>
                                    {{ bo.objectiveId }}
                                </td>
                                <td>
                                    {{ bo.description }}
                                </td>
                                <td>
                                    {{ bo.weight }}
                                </td>
                                {% set count = [0] %}
                                {% for ec in bo.evaluation_criteria %}
                                    {% if count > [0] %}
                                        <tr>
                                            <td></td><td></td><td></td>
                                    {% endif %}
                                    <td>
                                        {{ ec.evaluation_criterionId }}
                                    </td>
                                    <td>
                                        {{ ec.evaluation_criterion }}
                                    </td>
                                    <td>
                                        {{ '%0.2f'| format(ec.calculations["criteria_percentage"]|float)  }}
                                    </td>
                                    <td>
                                        {{ '%0.2f'| format(ec.calculations["criteria_weight"]|float) }}
                                    </td>
                                    {% for vendor in project.vendorIds %}
                                        <td style="border-left:1px solid;">
                                            {% set key = vendor + "_vendor_score" %}
                                            {{ '%0.2f'| format(ec.calculations[key]|float) }}
                                        </td>
                                        <td>
                                            {% set key = vendor + "_vendor_weighted_score" %}
                                            {{ ec.calculations[key] }}
                                            {% if top_vendor is defined %}
                                                {% if vendor == top_vendor %}
                                                    (*)
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    {% if count > 0  %}
                                        </tr>
                                            {% if count.append(count.pop() + 1) %}{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
               </table>
             </td>
          </tr>
       <tfoot>
        <tr>
          <td>(*): Top vendor</td>
        </tr>
       </tfoot>
      </table>
    </div>
  </body>
</html>


