<!DOCTYPE html>
<html lang="en">
<head>
    <title>DAR - Summary</title>
    <link rel`="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/jquery.hotkeys-0.7.9.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css">

    <script src="/static/tableHeadFixer.js"></script>
    <nav class="navbar navbar-inverse navbar-static-top" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"/></a>
                <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<style>
    .slider {
        width: 100% !important;
    }
</style>
<script>
    var blast = [];
    var vendors = [];
    var filters = [];
    var business_objectives = [];
    var jvendor_sums = [];
    var criteria_user_map = {};
    var chart = null;
    var graphX = 0;
    var graphY = 0;

    function showGraph(btn) {
        if (chart != null) {
            dialog.style.display = 'none';
            chart = null;
            return;
        }
        var rect = btn.getBoundingClientRect();
        //console.log(rect.top, rect.right, rect.bottom, rect.left);
        var left = graphX;
        var top = graphY;
        if (left == 0) {
            left = rect.left - (rect.right - rect.left) * 2;
        }
        if (top == 0) {
            top = rect.bottom;
        }
        var wwidth = $(window).width();
        console.log(graphX + ", " + left + ", " + screen.width + ", " + wwidth);
        //if (left + 500 > wwidth) {
        //    left = 20;
        //}
        $('#dialog').css({
            position: 'absolute',
            top: top,
            left: left,
            height:400,
            width:500,
            background: 'rgba(211,211,211, 1.0)'
        }).show();
        drawChart();
        var closeBtn = document.getElementById('close');
        // Get the dialogs.
        closeBtn.addEventListener('click', function(e) {
            dialog.style.display = 'none';
            chart = null;
            // this.parentNode.close();
        });
    }

    function drawChart() {
        var labels = [];
        for (var vv = 0; vv < vendors.length; vv++) {
            labels.push(vendors[vv]);
        }
        var ctx = document.getElementById("graph");
        if (chart != null) {
            chart.destroy();
        }
        chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Vendor Scores',
                    data: jvendor_sums,
                    backgroundColor: 'rgba(0, 0, 255, 1.0)'
                }]
            }
        });
    }
    function initializeModel() {
        if (business_objectives.length == 0) {
            {% for bo in bos_db %}
                var obj1 = {};
                obj1.objectiveId = "{{ bo.objectiveId | safe}}";
                obj1.description = "{{ bo.description | safe}}";
                obj1.weight = "{{ bo.weight | safe}}";
                obj1.evaluation_criteria = [];
                {% for ec in bo.evaluation_criteria %}
                    var obj2 = {};
                    obj2.evaluation_criterionId = "{{ ec.evaluation_criterionId | safe }}";
                    obj2.evaluation_criterion = "{{ ec.evaluation_criterion | safe }}";
                    obj2.calculations = "{{ ec.calculations | safe}}";
                    obj1.evaluation_criteria.push(obj2);
                {% endfor %}
                var jobj = JSON.stringify(obj1);
                // console.log(jobj);
                business_objectives.push(jobj);
            {% endfor %}
        }
        //console.log(" * 1 " + business_objectives.length);
        //for (var vv = 0; vv < business_objectives.length; vv++) {
            //console.log("\t" + vv + ": " + business_objectives[vv]);
        //}
    }

    function initView() {
        reloadView(false);
    }

    function reloadView() {
        reloadview(true);
    }

    function reloadView(refreshOnly) {
        if (!refreshOnly) {
            var summary_table_header = document.getElementById("fixTableHeader");
            var hRow = summary_table_header.insertRow(0);
            var cHeader = hRow.insertCell(0);
            cHeader.colSpan = 7;
            cHeader.style.backgroundColor = "#fff";
            cHeader.innerHTML = "Objectives";
            //cHeader.outerHTML = "<th>Objectives</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(1);
            cHeader.colSpan = vendors.length * 2;
            cHeader.innerHTML = "Vendors";
            //cHeader.outerHTML = "<th>Vendors</th>";
            cHeader.style.textAlign = 'center';

            hRow = summary_table_header.insertRow(1);
            cHeader = hRow.insertCell(0);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>ID</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(1);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>Description</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(2);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>Weight</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(3);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>Criterion ID</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(4);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>Criterion</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(5);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>Criteria Avg</th>";
            cHeader.style.textAlign = 'center';
            cHeader = hRow.insertCell(6);
            cHeader.style.backgroundColor = "#fff";
            cHeader.outerHTML = "<th>Criteria Weight</th>";
            cHeader.style.textAlign = 'center';
            cHeader.style.borderRight = "1px solid";
            var rect = hRow.getBoundingClientRect();
            graphY = rect.top + 5;

            var vv = 0;
            for (var cc = 7; cc < 7 + vendors.length * 2; cc += 2) {
                cHeader = hRow.insertCell(cc);
                cHeader.innerHTML = vendors[vv] + " Score";
                cHeader.style.borderLeft = "1px solid";
                cHeader.style.textAlign = 'center';
                cHeader.outerHTML = "<th>" + vendors[vv] + " Score</th>";

                //console.log(cHeader.outerHTML);

                cHeader = hRow.insertCell(cc + 1);
                cHeader.outerHTML = "<th>" + vendors[vv] + " Weighted Score</th>";
                cHeader.innerHTML = vendors[vv] + " Weighted Score";
                cHeader.style.textAlign = 'center';
                //console.log(cHeader.outerHTML);
                vv++;
            }
        }
        var summary_table_body = document.getElementById("fixTableBody");
        var rr = 0;
        for (var bb = 0; bb < business_objectives.length; bb++) {
            var mbo = JSON.parse(business_objectives[bb]);
            //console.log(mbo.objectiveId + ", " + mbo.description + ", " +  mbo.weight);
            var boRow = null;
            if (!refreshOnly) {
                boRow = summary_table_body.insertRow(rr);
                var boCell = boRow.insertCell(0);
                boCell = boRow.insertCell(1);
                boCell = boRow.insertCell(2);
            }
            rr++;
            boRow = summary_table_body.children[rr - 1];
            boRow.cells[0].innerHTML = mbo.objectiveId;
            boRow.cells[1].innerHTML = mbo.description;
            boRow.cells[1].style.textAlign = 'left';

            var exid = 'ex1_' + mbo.objectiveId.split(' ').join('_');

            if (!refreshOnly) {
                var sliderElement = document.createElement('input');
                sliderElement.type = "text";
                sliderElement.id = exid;
                sliderElement.setAttribute("data-slider-min", "1");
                sliderElement.setAttribute("data-slider-max", "5");
                sliderElement.setAttribute("data-slider-step", "1");
                sliderElement.setAttribute("data-slider-value", mbo.weight);
                boRow.cells[2].appendChild(sliderElement);
                boRow.cells[2].style.width = "auto";
                boRow.cells[2].style.textAlign = 'center';

                exid = exid.split('.').join('\\.');

                $('#'+exid).slider().on('change', function(event) {
                    var a = event.value.newValue;
                    var b = event.value.oldValue;

                    var changed = !($.inArray(a[0], b) !== -1 &&
                    $.inArray(a[1], b) !== -1 &&
                    $.inArray(b[0], a) !== -1 &&
                    $.inArray(b[1], a) !== -1 &&
                    a.length === b.length);

                    if (changed) {
                        reloadView(true);
                        if (chart != null) {
                            console.log("updateing");
                            drawChart();
                        }
                    }
                });
            }

            var weightCell = boRow.cells[2];

            for (var ee = 0; ee < mbo.evaluation_criteria.length; ee++) {
                var ec = mbo.evaluation_criteria[ee];
                var calcstr = ec.calculations.replace(/'/g, '"');
                var jca = JSON.parse(calcstr);
                //console.log("\t" + ec.evaluation_criterionId + ", " + ec.evaluation_criterion + ", " + jca.criteria_average + ", " + jca.criteria_average * mbo.weight);
                if (ee > 0) {
                    if (!refreshOnly) {
                        boRow = summary_table_body.insertRow(rr);
                        for (var jj = 0; jj < 3; jj++) {
                            boRow.insertCell(jj);
                        }
                    }
                    rr++;
                }
                boRow = summary_table_body.children[rr - 1];
                if (!refreshOnly) {
                    boRow.insertCell(3);
                    boRow.insertCell(4);
                    boRow.insertCell(5);
                    boRow.insertCell(6);
                }
                boRow.cells[3].innerHTML = ec.evaluation_criterionId;
                boRow.cells[3].style.textAlign = 'center';

                var eckey = ec.evaluation_criterion.split(" ").join("^");
                var content = criteria_user_map[eckey];
                var hrefs = "";
                if (content != null) {
                    var tstr = "<table class=table table-condensed><tr><th>Users</th><th>Weights</th></tr>";
                    for (var hl = 0; hl < content.length; hl++) {
                        tstr += "<tr><td>" + content[hl]['userId'] + "</td><td>" + parseFloat(content[hl]['weight']).toFixed(2) + "</td></tr>";
                    }
                    tstr += "</table>";
                    hrefs += "javascript:popup('Users & Weights - " + ec.evaluation_criterion + "', '" + tstr + "');";
                } else {
                    hrefs += "javascript:popup('Users & Weights - " + ec.evaluation_criterion + "', No user(s) entered data for '" + ec.evaluation_criterion + "');";
                }

                boRow.cells[4].innerHTML = '<a href="' +  hrefs + '" class="btn btn-default">' +  ec.evaluation_criterion + '</a>';

                boRow.cells[5].innerHTML = jca.criteria_average.toFixed(2);
                var weight = parseFloat(weightCell.innerText.trim());
                boRow.cells[6].innerHTML = parseFloat(jca.criteria_average * weight).toFixed(2);
                boRow.cells[6].style.borderRight = "1px solid";

                var vv = 0;
                for (var cc = 7; cc < 7 + vendors.length * 2; cc += 2) {
                    // console.log(cc + ": " + vendors[vv]);
                    if (!refreshOnly) {
                        boRow.insertCell(cc);
                    }
                    boRow.cells[cc].innerHTML = jca[vendors[vv] + "_vendor_score"].toFixed(2);
                    boRow.cells[cc].style.borderLeft = "1px solid";
                    boRow.cells[cc].style.textAlign = 'center';

                    //console.log("\t" + boRow.cells[cc].innerHTML);
                    if (!refreshOnly) {
                        boRow.insertCell(cc + 1);
                    }
                    //console.log(cc + 1 + ": " + vendors[vv]);
                    boRow.cells[cc + 1].innerHTML = parseFloat(jca[vendors[vv] + "_vendor_score"] * jca.criteria_average * weight).toFixed(2);
                    //console.log("\t" + boRow.cells[cc + 1].innerHTML);
                    boRow.cells[cc + 1].style.textAlign = 'center';
                    vv++;
                }
            }
        }
        if (!refreshOnly) {
            boRow = summary_table_body.insertRow(rr);
        }
        rr++;
        boRow = summary_table_body.children[rr - 1];

        if (!refreshOnly) {
            for (var ii = 0; ii < 7; ii++) {
                boRow.insertCell(ii);
            }
            boRow.cells[0].innerHTML = "Total";
        }
        var vv = 0;
        var summary_table_body_col_length = summary_table_body.children.length;
        var maxVal = 0;
        var maxCell = null;
        var maxCol = 0;
        jvendor_sums = [];
        for (var cc = 7; cc < 7 + vendors.length * 2; cc += 2) {
            if (!refreshOnly) {
                boRow.insertCell(cc);
                boRow.insertCell(cc + 1);
            }
            var fsum = 0.0;
            for (var cr = 0; cr < summary_table_body_col_length - 1; cr++) {
                var frow = summary_table_body.children[cr];
                var fitem1 = frow.cells[cc + 1];
                if (fitem1 == null) {
                    continue;
                }
                var fitem = fitem1.innerHTML;
                if (fitem != "") {
                    fitem = parseFloat(fitem);
                    fsum += parseFloat(fitem);
                }
            }
            if (fsum > maxVal) {
                maxVal = fsum;
                maxCell = boRow.cells[cc+1];
                maxCol = cc;
            }
            // console.log(fsum);
            boRow.cells[cc + 1].innerHTML = fsum.toFixed(2);
            jvendor_sums[vv] = fsum.toFixed(2);
            boRow.cells[cc + 1].style.textAlign = 'center';
            if (vv == 0) {
                var rect = boRow.cells[cc].getBoundingClientRect();
                graphX = rect.left + 5;
            }
            vv++;
        }
        if (maxCell != null) {
            maxCell.innerHTML += "(*)";
            maxCell.style.font = "italic bold 14px arial,serif";
            var fTable = document.getElementById("fixTable");
            var nrows = fTable.rows.length;
            for (var ii = 1; ii < nrows; ii++) {
                if (ii < nrows - 1)
                    fTable.rows[ii].cells[maxCol].style.backgroundColor = "#ffdab9";
                fTable.rows[ii].cells[maxCol+1].style.backgroundColor = "#ffdab9";
            }
        }

        /*
        var summary_table_foot = document.getElementById("fixTableFoot");
        var fRow = summary_table_foot.insertRow(0);
        var fcell = fRow.insertCell(0);
        fcell.innerHTML = "(*): Top vendor";
        fcell.style.backgroundColor = "#fff";
        fcell.style.textAlign = 'left';
        */
    }

    $(document).ready(function(){
        initializeModel();
        initVendorModel();
        initView();
        $("#fixTable").tableHeadFixer({
            head : true,
            foot : true,
            left : 7,
            right : 0,
            'z-index' : 999
        });

        $(document).bind('keydown', 'ctrl+z', undo);
        $(document).bind('keydown.ctrl_z keydown.meta_z', function(event) {
            event.preventDefault();
            var key = event.keyCode || event.charCode || 0;
            if (key == 90) {
                undo();
            }
        });

        var titles = document.getElementsByTagName("th");
        for ( var ii = 0; ii < titles.length; ii++ ) {
            titles[ii].addEventListener("click", function() {
                onBlast( this);
            }, false);
        }

    });

    function undo() {
        console.log("**** 1 " + blast);
        if (blast.length > 0) {
            for (var vv = 0; vv < 2; vv++) {
                var idx = blast[blast.length - 1];
                // console.log("\t****  " + vv + ": " + idx  + ", " + blast);
                if (idx == "" || idx == NaN) {
                    return;
                }
                $('th:nth-child(' + idx + '), td:nth-child(' + idx + ')').show();
                blast.pop();
            }
            console.log("**** 2 " + blast);
        }
    }

    function onBlast(th) {
        if (th.innerText == "Vendor Scores") {
            return;
        }

        if (th.innerHTML.indexOf("Score") < 0) {
            return;
        }


        var idx =  th.cellIndex + 1;
        var idx1 = idx + 1;
        if (th.innerHTML.indexOf("Weighted") >= 0) {
            idx1 = idx - 1;
        }

        console.log(idx + ", " + idx1);
        $('th:nth-child(' + idx +  '), td:nth-child(' + idx +  ')').hide();
        $('th:nth-child(' + idx1 + '), td:nth-child(' + idx1 + ')').hide();

        blast.push(idx);
        blast.push(idx1);
    }

    function initVendorModel() {
        vendors = [];
        filters = [];
        {% set vendorIds = project.vendorIds %}
        var vv = 0;
        {% for vendor in vendorIds %}
            vendors.push("{{ vendor | safe}}");
            filters.push("{{ vendor | safe}}");
        {% endfor %}

        {% for jkey, jvalue in criteria_to_users_map.iteritems() %}
            var jjkey = "{{ jkey | safe }}";
            var jjvalue = "{{ jvalue | safe}}";
            jjvalue = jjvalue.replace(/'/g, '"');
            //console.log(jjkey + ": " + jjvalue);
            criteria_user_map[jjkey] = JSON.parse(jjvalue);
        {% endfor %}
    }

    function onCBClick(cb) {
        console.log(filters);
        if (filters.length <= 1) {
            cb.checked = true;
            alert("At least one filter is needed");
            return;
        }
        if (cb.checked) {
            if ($.inArray(cb.name, filters) < 0) {
                filters.push(cb.name);
            }
        } else {
            if ($.inArray(cb.name, filters) >= 0) {
                var idx = filters.indexOf(cb.name);
                filters.splice(idx, 1);
            }
        }
    }

    function showVendors() {
        var message = "<table class='table table-condensed' ><thead><tr><th>Select</th><th>Vendors</th></tr></thead><tbody>";
        for (var vv = 0; vv < vendors.length; vv++) {
            var smsg = "<input id=" + vendors[vv] + " type='checkbox' name=" + vendors[vv] + " onclick=onCBClick(this);";
            if ($.inArray(vendors[vv], filters) < 0) {
                smsg += " >";
            } else {
                smsg += " checked >";
            }
            var msg = "<tr><td>" + smsg + "</td><td>" + vendors[vv] + "</td></tr>";
            message += msg;
        }
        message += "</tbody></table>";
        popupConfirm("Select Vendors to Show (OK to confirm)",   message ,function(){hideColumns();})
    }

    function hideColumns() {
        //console.log(filters);
        var diff = $(vendors).not(filters).get();
        //console.log(diff);
        var len = 7 + vendors.length * 2;

        var titles = document.getElementsByTagName("th");
        for ( var hh = 8; hh <= len; hh++ ) {
            var th = $('th:nth-child(' + hh +  '), td:nth-child(' + hh +  ')');
            var itext = th[0].innerHTML.trim();
            var lastIndex = itext.lastIndexOf(" ");
            itext = itext.substring(0, lastIndex);
            if (hh % 2 != 0) {
                lastIndex = itext.lastIndexOf(" ");
                itext = itext.substring(0, lastIndex);
            }
            console.log("\t" + hh +  ", " + itext + ", " + th[0].innerHTML);
            if ($.inArray(itext, diff) >= 0) {
                console.log("\tremoving " + hh + ", " +     itext);
                $('th:nth-child(' + hh +  '), td:nth-child(' + hh +  ')').hide();
            } else {
                console.log("\tshowing " + hh + ", " +     itext);
                $('th:nth-child(' + hh +  '), td:nth-child(' + hh +  ')').show();
            }
        }
    }

</script>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% set project_status, percentage = get_project_status(project.projectId) %}
                {% if project_status == "Late" %}
                    <a class="navbar-brand" href="#"> Project: {{ project.projectId }}&nbsp;&nbsp;&nbsp;{{ percentage }}&nbsp;%<span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span></a>
                {% elif project_status == "Incomplete" %}
                    <a class="navbar-brand" href="#"> Project: {{ project.projectId }}&nbsp;&nbsp;&nbsp;{{ percentage }}&nbsp;%<span class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span></a>
                {% else %}
                    <a class="navbar-brand" href="#"> Project: {{ project.projectId }}&nbsp;&nbsp;&nbsp;{{ percentage }}&nbsp;%<span class="glyphicon glyphicon-ok-sign" style="color:green"></span></a>
                {% endif %}
            </div>
            <div id="bs-example-navbar-collapse-2"class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li><a href='javascript:showVendors()'>Vendors</a></li>
                    <li><a href="#" onClick='javascript:showGraph(this)'>Graph</a></li>
                    {% set urlx = "/api/v1/show_entrys_given_project/" + project.projectId | urlencode %}
                    <li><a href="{{ urlx }}" class="pull-right">Entrys<span name="entryspan" class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="parent" style="height: 90%; width: 90%">
        {% set vendorIds = project.vendorIds %}
        {% set cs = vendorIds | length * 2 %}
        <table id="fixTable" class="table table-condensed" style="max-width: inherit;">
            <thead id="fixTableHeader">
            </thead>
            <tbody id="fixTableBody">
            </tbody>
            <tfoot id="fixTableFoot" style="max-width: 100%;">
            </tfoot>
        </table>
    </div>
    <div class="modal" id="dialog" style="display: none; margin: 0 auto" width="400">
        <canvas id='graph' width='400' height='300'></canvas>
        <button id="close"><span class="glyphicon glyphicon-remove"/></button>
    </div>

</body>
</html>


