<!DOCTYPE html>
<html lang="en">
<head>
    <title>DAR - Summary 2</title>
    <link rel`="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript" src="/static/jquery.hotkeys-0.7.9.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">

    <script src="/static/tableHeadFixer.js"></script>
    <nav class="navbar navbar-inverse navbar-static-top" >
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"/></a>
                <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>
<script>
    var blast = [];
    var table = null;
    var vendors = [];
    var filters = [];

    $(document).ready(function(){
        initVendorModel();
        table = $('#fixTable').DataTable({
            fixedHeader:    true,
            scrollY:        true,
            scrollX:        true,
            scrollCollapse: true,
            paging:         false,
            sorting:        false,
            searching:      false,
            ordering:       false,
            bInfo:          false,
            fixedColumns:   {
                leftColumns: 7
            }
        });

        $(document).bind('keydown', 'ctrl+z', undo);

        $("th").on('click', function(e) {
            onBlast(e.currentTarget);
            table.draw();
        });
    });

    function undo() {
        console.log("**** 1 " + blast);
        if (blast.length > 0) {
            for (var vv = 0; vv < 2; vv++) {
                var idx = blast[blast.length - 1];
                // console.log("\t****  " + vv + ": " + idx  + ", " + blast);
                if (idx == "" || idx == NaN) {
                    return;
                }
                $('th:nth-child(' + idx + '), td:nth-child(' + idx + ')').show();
                blast.pop();
            }
            console.log("**** 2 " + blast);
            table.draw();
        }
    }

    function onBlast(th) {
        if (th.innerText == "Vendor Scores") {
            return;
        }

        if (th.innerHTML.indexOf("Score") < 0) {
            return;
        }
        var idx =  th.cellIndex + 1;
        var idx1 = idx + 1;
        if (th.innerHTML.indexOf("Weighted") >= 0) {
            idx1 = idx - 1;
        }

        console.log(idx + ", " + idx1);
        $('th:nth-child(' + idx +  '), td:nth-child(' + idx +  ')').hide();
        $('th:nth-child(' + idx1 + '), td:nth-child(' + idx1 + ')').hide();

        blast.push(idx);
        blast.push(idx1);
    }

    function initVendorModel() {
        vendors = [];
        filters = [];
        {% set vendorIds = project.vendorIds %}
        {% for vendor in vendorIds %}
            vendors.push("{{ vendor | safe}}");
            filters.push("{{ vendor | safe}}");
        {% endfor %}
    }

    function onCBClick(cb) {
        console.log(filters);
        if (filters.length <= 1) {
            cb.checked = true;
            alert("At least one filter is needed");
            return;
        }
        if (cb.checked) {
            if ($.inArray(cb.name, filters) < 0) {
                filters.push(cb.name);
            }
        } else {
            if ($.inArray(cb.name, filters) >= 0) {
                var idx = filters.indexOf(cb.name);
                filters.splice(idx, 1);
            }
        }
    }

    function showVendors() {
        var message = "<table class='table table-condensed' ><thead><tr><th>Select</th><th>Vendors</th></tr></thead><tbody>";
        for (var vv = 0; vv < vendors.length; vv++) {
            var smsg = "<input id=" + vendors[vv] + " type='checkbox' name=" + vendors[vv] + " onclick=onCBClick(this);";
            if ($.inArray(vendors[vv], filters) < 0) {
                smsg += " >";
            } else {
                smsg += " checked >";
            }
            var msg = "<tr><td>" + smsg + "</td><td>" + vendors[vv] + "</td></tr>";
            message += msg;
        }
        message += "</tbody></table>";
        popupConfirm("Select Vendors to Show (OK to confirm)",   message ,function(){hideColumns();})
    }

    function hideColumns() {
        console.log(filters);
        var diff = $(vendors).not(filters).get();
        console.log(diff);
        var len = 7 + vendors.length * 2;
        for (var hh = 7; hh < len; hh++) {
            var idx = table.column( hh ).index()    ;
            var title = table.columns( idx ).header();
            var hid  = title[0].id;
            var itext = hid.substring(0, hid.indexOf("_"));
            console.log("\t" + idx +  ", " + itext);
            if ($.inArray(itext, diff) >= 0) {
                console.log("\tremoving " + hh + ", " +     itext);
                table.column(hh).visible(false);
            } else {
                console.log("\tshowing " + hh + ", " +     itext);
                table.column(hh).visible(true);
            }
        }
        table.draw();
    }

</script>
<div id="in" style="float:left; padding-left: 10px">
    Project: {{ project.projectId }}
    &nbsp;
    &nbsp;
    &nbsp;
    {% set project_status, percentage = get_project_status(project.projectId) %}
    {% if project_status == "Late" %}
        <span class="glyphicon glyphicon-exclamation-sign" style="color:red"></span>
    {% elif project_status == "Incomplete" %}
        <span class="glyphicon glyphicon-exclamation-sign" style="color:orange"></span>
    {% else %}
        <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
    {% endif %}
    &nbsp;
    &nbsp;
    &nbsp;
    {{ percentage }}
    &nbsp;
    %

</div>
<div id="out" style="float:right; padding-right: 100px">
    {% set urlx = "/api/v1/show_entrys_given_project/" + project.projectId | urlencode %}
    <a href={{ urlx }}>
        <label>Entrys
            <span name="entryspan" class="glyphicon glyphicon-chevron-right"></span>
        </label>
    </a>
</div>
<div id="parent" style="height: 90%; width: 90%">
    {% set vendorIds = project.vendorIds %}
    {% set cs = vendorIds | length * 2 %}
    <table id="fixTable" class="table table-condensed" >
        <thead>
        <tr>
            <th colspan="7" style="text-align: center; background-color: #fff;" >Objectives</th>
            {% set hrefvs = 'javascript:showVendors()' %}
            <th colspan="{{ cs }}" style="text-align: center; background-color: #fff;">
                <a href="{{ hrefvs }}" class="btn btn-default">Vendor Scores</a>
            </th>
        </tr>
        <tr>
            <th style="background-color: #fff;">ID</th>
            <th style="background-color: #fff;">Description</th>
            <th style="background-color: #fff;">Weight</th>
            <th style="background-color: #fff;">Criteria ID</th>
            <th style="background-color: #fff;">Criterion</th>
            <th style="background-color: #fff;">Criteria</th>
            <th style="background-color: #fff; border-right:1px solid;">Criteria Weight</th>
            {% for vendor in vendorIds %}
                <th id="{{ vendor + "_score" }}" style="border-left:1px solid;">
                    {{ vendor }} Score
                </th>
                <th id="{{ vendor + "_weighted" }}" >
                    {{ vendor }} Weighted Score
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if bos_db is defined %}
            {% for bo in bos_db %}
                <tr>
                    <td>
                        {{ bo.objectiveId }}
                    </td>
                    <td>
                        {{ bo.description }}
                    </td>
                    <td>
                        {{ bo.weight }}
                    </td>
                    {% set count = [0] %}
                    {% for ec in bo.evaluation_criteria %}
                        {% if count > [0] %}
                            <tr>
                            {% for ii in range(3) %}
                                <td></td>
                            {% endfor %}
                        {% endif %}
                    <td>
                        {{ ec.evaluation_criterionId }}
                    </td>
                    <td>
                        {% set ldata = criteria_to_users_map.get(ec.evaluation_criterion | replace(" ", "^"))  %}
                        {% if ldata %}
                            {% set udata = ["<table class='table table-condensed' ><tr><th>Users</th><th>Weights</th></tr>"] %}
                            {% for idata in ldata %}
                                {% set tstr = '<tr><td>%15s</td><td>%3.2f</td>'| format(idata.get("userId"), idata.get("weight") | float) + "</tr>"%}
                                {% if udata.append(udata.pop() + tstr ) %}{% endif %}
                            {% endfor %}
                            {% if udata.append("</table>") %}{% endif %}
                            {% set  href = 'javascript:popup("Users & Weights - ' + ec.evaluation_criterion + '", "' + udata[0]  + '")' %}
                        {% else %}
                            {% set href = 'javascript:popup("Users & Weights - ' + ec.evaluation_criterion + '", "No user(s) entered data for ' + ec.evaluation_criterion + '")'  %}
                        {% endif %}
                        <a href="{{ href }}" class="btn btn-default"> {{ ec.evaluation_criterion }}</a>
                    </td>
                    <td>
                        {{ '%0.2f'| format(ec.calculations["criteria_percentage"]|float)  }}
                    </td>
                    <td style="border-right:1px solid;">
                        {{ '%0.2f'| format(ec.calculations["criteria_weight"]|float) }}
                    </td>
                    {% for vendor in vendorIds %}
                        <td style="border-left:1px solid;">
                            {% set key = vendor + "_vendor_score" %}
                            {{ '%0.2f'| format(ec.calculations[key]|float) }}
                        </td>
                        <td>
                            {% set key = vendor + "_vendor_weighted_score" %}
                            {{ '%0.2f'| format(ec.calculations[key]|float) }}
                        </td>
                    {% endfor %}
                        {% if count > [0] %}
                            </tr>
                        {% endif %}
                    {% if count.append(count.pop() + 1) %}{% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
            <td>Total</td>
            {% for ii in range(6) %}
                 <td></td>
            {% endfor %}
            {% for vendor in vendorIds %}
                 <td></td>
                 <td>
                     {{ '%0.2f'| format(vendor_sums[vendor]) | float }}
                    {% if top_vendor is defined %}
                        {% if vendor == top_vendor %}
                            (*)
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr style="background-color: #fff;">
            <td colspan="{{ 7+cs }}" >(*): Top vendor</td>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>


