<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Submit a form for {{  registerId    }}</h1>
      </div>
      <div id="main">
          <form method="post" action="{{ url_for('submitted_entry', registerId=registerId ) }}">
              Select User:
              <select name="userId">
                {% for user in users %}
                      <option value="{{  user.identity }}"> {{ user.identity }}</option>
                {% endfor %}
              </select>
            <table class="table table-striped">
                <TR>
                    <th>  </th>
                    {% for item in items %}
                        <th> {{ item }} </th>
                    {% endfor %}
                </TR>
                {% for item in items %}
                    <TR>
                        <td align="left"> {{ item }} </td>
                        {% for item1 in items %}
                            {%  if item == item1 %}
                                <td align="center"> x </td>
                            {%  else %}
                                {% set cbname = item + "_" + item1 %}
                                <td style="text-align: center; vertical-align: middle;">
                                    <input type="checkbox" name={{ cbname }}>
                                </td>
                            {%  endif %}
                        {% endfor %}
                    </TR>
                {% endfor %}
            </table>
            <input type="submit">
          </form>
      </div>
    </div>
  </body>
</html>
