<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>Entrys</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <style>
    table, th, td {
        border: 1px solid black;
    }
  </style>
  <body>
    <div class="pagetitle"
      <h1>Users for {{  registerId }}</h1>
      <br>
    </div>
    <div class="container">
      <table class="table table-striped">
        <tr>
           <th>
               User
           </th>
          <th>
              Details
          </th>
        </tr>
        {% for iuser in users %}
            <tr>
                <td>
                    {{  iuser.identity }}
                </td>
                <td>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                Identity = {{ iuser.identity }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email = {{ iuser.email }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        <TR>
          <td>
            {% set url = "/edit_users/" + registerId  %}
            <br><a href={{ url }}> Edit User for Register</a>
          </td>
        </TR>
      </table>
    </div>
  </body>
</html>


