<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about_page"><span class="glyphicon glyphicon-log-out"></span>About</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
  <script>
    $(document).ready(function(){
        $('#checkbox').on('change', function(){
            $('#password').attr('type',$('#checkbox').prop('checked')==true?"text":"password");
        });
    });
    </script>
  {% if show_example_modal %}
    <span class="example"  data-toggle="modal" data-target="#myModal"> <a href="/login">Back to Login</a></span>
  {% endif %}

    <div id="container">
      <div id="main">
          <form method="post" action="{{ url_for('submitted_user') }}">
            <table class="table table-striped">
                <TR>
                    <td align="left">
                        Identity (name)
                    </td>
                    <td>
                        {% set idval = "" %}
                        {% if user is defined %}
                            {% set idval = user.identity %}
                        {% endif %}
                        <input class="form-control" type="text" name="identity" value= {{ idval }}>
                    </td>
                </TR>
                <TR>
                    <td>
                        Email
                    </td>
                    <td>
                        {% set emailval = "" %}
                        {% if user is defined %}
                            {% set emailval = user.email %}
                        {% endif %}
                        <input class="form-control" type="text" name="email" value={{ emailval }}>
                    </td>
                </TR>
                <TR>
                    <td>
                        Type
                    </td>
                    <td>
                        {% set typeval = "" %}
                        {% if user is defined %}
                            {% set typeval = user.type %}
                        {% endif %}
                        <select class="form-control" name="type">
                            {% if typeval == "User" %}
                                <option value="User" selected="selected">User</option>
                            {% else %}
                                <option value="User">User</option>
                            {% endif %}
                            {% if typeval == "Admin" %}
                                <option value="Admin" selected="selected">Admin</option>
                            {% else %}
                                <option value="Admin">Admin</option>
                            {% endif %}
                        </select>
                    </td>
                </TR>
                <TR>
                    <td>
                        Password
                    </td>
                    <td>
                        {% set passval = "" %}
                        {% if user is defined %}
                            {% set passval = user.password %}
                        {% endif %}
                        <input class="form-control" id="password" type="password" name="password" value={{ passval }}>
                        <input type="checkbox" id="checkbox"> Show Password
                    </td>
                </TR>
                <TR>
                    <td>
                        Default Register
                    </td>
                    <td>
                        {% set regId = "" %}
                        {% if user is defined %}
                            {% set regId = user.defaultRegisterId %}
                        {% elif registerId is defined %}
                            {%  set regId = registerId %}
                        {% endif %}
                        {% if regId.strip() == "" %}
                            <input class="form-control" id="registerId" name="registerId" readonly>
                        {% else %}
                            <input class="form-control" id="registerId" name="registerId" value={{ regId }}>
                        {% endif %}
                    </td>
                </TR>
            </table>
            <input type="submit">
          </form>
      </div>
    </div>
  </body>
</html>
