<html>
  <head>
    <title>Submit a form</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="/static/common.js"></script>
  </head>
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:popup('Notice', 'User Settings will be available in V2')"><span class="glyphicon glyphicon-user"></span>{{ current_user }}</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
  <script>
    $(document).ready(function(){
        $('#checkbox').on('change', function(){
            $('#password').attr('type',$('#checkbox').prop('checked')==true?"text":"password");
        });
    });
    </script>
    <div id="container">
      <div id="main">
          <form method="post" action="{{ url_for('submitted_user') }}">
            <table class="table table-striped">
                <TR>
                    <td align="left">
                        Username (name)
                    </td>
                    <td>
                        {% set idval = "" %}
                        {% if user is defined %}
                            {% set idval = user.identity %}
                        {% endif %}
                        <input class="form-control" type="text" name="identity" value= {{ idval }}>
                    </td>
                </TR>
                <TR>
                    <td>
                        Email
                    </td>
                    <td>
                        {% set emailval = "" %}
                        {% if user is defined %}
                            {% set emailval = user.email %}
                        {% endif %}
                        <input class="form-control" type="text" name="email" value={{ emailval }}>
                    </td>
                </TR>
                <TR>
                    <td>
                        Type
                    </td>
                    <td>
                        {% set typeval = "" %}
                        {% if user is defined %}
                            {% set typeval = user.type %}
                        {% endif %}
                        <select class="form-control" name="type">
                            {% if typeval == "User" %}
                                <option value="User" selected="selected">User</option>
                            {% else %}
                                <option value="User">User</option>
                            {% endif %}
                            {% if typeval == "Admin" %}
                                <option value="Admin" selected="selected">Admin</option>
                            {% else %}
                                <option value="Admin">Admin</option>
                            {% endif %}
                        </select>
                    </td>
                </TR>
                <TR>
                    <td>
                        Password
                    </td>
                    <td>
                        {% set passval = "" %}
                        {% if user is defined %}
                            {% set passval = user.password %}
                        {% else %}
                            {% if defaultPassword is defined %}
                                {% set passval = defaultPassword %}
                            {% endif %}
                        {% endif %}
                        <input class="form-control" id="password" type="password" name="password" value={{ passval }}>
                        <input type="checkbox" id="checkbox"> Show Password
                    </td>
                </TR>
                <TR>
                    <td>
                        Project
                    </td>
                    <td>
                        {% if projectId is defined and projectId != "__CREATE__" %}
                            <input class="form-control" id="projectId" name="projectId" value="{{ projectId }}" readonly>
                        {% else %}
                            {% if projects is defined  and projects | length > 0%}
                                <select class="form-control" name="projectIds[]" multiple size={{ projects |length }}>

                                    {% for iproject in projects %}
                                        {% if user is defined %}
                                            {% if iproject.projectId in user.projectIds %}
                                                <option value="{{  iproject.projectId }}" selected> {{ iproject.projectId }}</option>
                                            {% else %}
                                                <option value="{{  iproject.projectId }}"> {{ iproject.projectId }}</option>
                                            {% endif %}
                                        {% else %}
                                            <option value="{{  iproject.projectId }}"> {{ iproject.projectId }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select>
                            {% endif %}
                        {% endif %}
                    </td>
                </TR>
            </table>
            <input type="submit" value="Save" >
          </form>
      </div>
    </div>
  </body>
</html>
