<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
    <script>
        function logout() {
            var path = window.location.pathname
            if (path.substring("submitted_user")) {
                window.location = "/";
            } else {
                var out = window.location.href.replace(/:\/\//, '://:out@');
            }
            var out = window.location.href.replace(/:\/\//, '://:out@');
            window.location.reload(true);
            jQuery.get(out).error(function() {
                window.location.reload(true);
            });
        }
    </script>
  <nav class="navbar navbar-inverse navbar-static-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="javascript:window.history.back()">Back</a>
          <p class="navbar-text">{{ current_user }}</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/v1/about_page"><span class="glyphicon glyphicon-lamp"></span>About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:logout()"><span class="glyphicon glyphicon-log-out"></span>Re-Login-As</a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body>
    <div class="container">
    <br>
      <table class="table table-striped">
        <th style="text-align:justify">
            {% if projectId  %}
                Users for {{ projectId }}
            {% else %}
                Users
            {% endif %}
        </th>
        <th tyle="text-align:justify">
            {% if projectId is none or projectId == "" %}
               {%  set urlx = "/api/v1/update_user/__CREATE__/___CREATE___" %}
                <a href={{ urlx }}>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            {% endif %}
            {% if projectId %}
                {% set url = "/api/v1/update_user/" + projectId + "/__CREATE__" %}
                <a href={{ url }}>Edit Users for {{ projectId }}</a>
            {% endif %}
        </th>
      {% if users %}
        {% for iuser in users %}
             {% if projectId %}
                 {%  set urlx = "/api/v1/update_user/" + projectId + "/" + iuser.identity %}
             {%  elif iuser.defaultProjectId %}
                 {%  set urlx = "/api/v1/update_user/" + iuser.defaultProjectId + iuser.identity %}
             {% else %}
                 {%  set urlx = "/api/v1/update_user/__CREATE__/" + iuser.identity %}
             {% endif %}
             <TR onclick="location.href='{{ urlx }}'"}>
                <td>
                    {{  iuser.identity }}
                </td>
                <td>
                    <a href={{ urlx }}>
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
      {% endif %}
      </table>
    </div>
  </body>
</html>


